body{
    background-image: url("kiki.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
}
#title{
    font-family: "Delius Swash Caps", cursive;
    font-size: 80px;
    background-color: rgba(255, 242, 179, 0.6);
    border-radius: 5px;
    margin:0 420px 0 0;
}
#trailer{
    font-family: "Delius Swash Caps", cursive;
    font-size: 20px;
    font-weight: 600;
    background-color:rgba(255, 202, 240, 0.7);
    border-radius: 5px;
    margin:10px 970px 0 0;
}
#trailer-click {
    color: rgb(94, 53, 79); 
}